
<section class="plans">
  <div class="container text-center">
    <h2 class="section-head">Our Pricing Plans</h2>
    <div class="plans-item col-sm-3 col-xs-6">
      <div class="plans-wrap">
        <p class="plans_head">Basic</p>
        <div class="plans-content">
          <div class="plans-content_price"><sup>$</sup>20<span>/m</span></div>
          <ul class="plans-content_desc">
            <li>15 projects</li>
            <li>30 GB Storage</li>
            <li>Unlimited Data Transfer</li>
            <li>50 GB Bandwith</li>
            <li>24/7 Support</li>
          </ul>
          <button class="plans-content_btn">Order Now</button>
        </div>
      </div>
    </div>  
    <div class="plans-item col-sm-3 col-xs-6">
      <div class="plans-wrap">
        <p class="plans_head">Standart</p>
        <div class="plans-content">
          <div class="plans-content_price"><sup>$</sup>40<span>/m</span></div>
          <ul class="plans-content_desc">
            <li>15 projects</li>
            <li>30 GB Storage</li>
            <li>Unlimited Data Transfer</li>
            <li>50 GB Bandwith</li>
            <li>24/7 Support</li>
          </ul>
          <button class="plans-content_btn">Order Now</button>
        </div>
      </div>
    </div>
    <div class="plans-item col-sm-3 col-xs-6">
      <div class="plans-wrap">
        <p class="plans_head">Business</p>
        <div class="plans-content">
          <div class="plans-content_price"><sup>$</sup>80<span>/m</span></div>
          <ul class="plans-content_desc">
            <li>15 projects</li>
            <li>30 GB Storage</li>
            <li>Unlimited Data Transfer</li>
            <li>50 GB Bandwith</li>
            <li>24/7 Support</li>
          </ul>
          <button class="plans-content_btn">Order Now</button>
        </div>
      </div>
    </div>
    <div class="plans-item col-sm-3 col-xs-6">
      <div class="plans-wrap">
        <p class="plans_head">Premium</p>
        <div class="plans-content">
          <div class="plans-content_price"><sup>$</sup>120<span>/m</span></div>
          <ul class="plans-content_desc">
            <li>15 projects</li>
            <li>30 GB Storage</li>
            <li>Unlimited Data Transfer</li>
            <li>50 GB Bandwith</li>
            <li>24/7 Support</li>
          </ul>
          <button class="plans-content_btn">Order Now</button>
        </div>  
      </div>
    </div>
  </div>
</section>