// File for scss-vars.
// For example: main colors, paddings and so on.


$robotoslab: 'Roboto Slab', sans-serif;
$roboto: 'Roboto', sans-serif;
$pacifico: 'Pacifico', sans-serif;
$exo: 'Exo', sans-serif;