



@media (min-width:1040px) and (max-width: 1215px) {
    .team {

    }
}

@media (min-width:784px) and (max-width:1039px) {
    .main-wrapper {
        .works {
            &_info {

                h4 {
                    padding-top: 25px;
                    padding-bottom: 10px;
                }

            }
        }
        .team {
            &_item {
                .img-wrap::before {
                    top: 100%;
                }
            }
        }
    }

}

@media screen and (max-width:783px) {
    .main-wrapper {
        .subscribe {
            &_form {
                width: 90%;
            }
        }
        .works {
            &_item {
                padding: 0;
                margin: 8px;
            }
            &_info {
                width: 100%;
                left: 0;
                h4 {
                    padding-top: 14%;
                }
                p {
                    padding: 0 10px;
                    height: 110px;
                }
                &_btn {
                    margin: 0;
                }
            }
        }
        .team {

            }
    }
    .modal-hire {
        .hire-close {    
            right: -1%;
        }
    }

}

@media screen and (max-width: 639px) {
    .main-wrapper {
       .works {
           &_info {
                p {
                    font-size: 12px;
                    height: 85px;
                }
                h4 {
                    
                    padding-top: 12%;
                    font-size: 18px;
                }
                &_btn {
                    font-size: 10px;
                    padding: 7px 22px;
                    width: auto;
                    border-radius: 4px;
                }
                
           }
       }
       .team {
            &_item {
                .img-wrap::before {
                    top: 100%;
                }
            }
        }
    }
    .copyright {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .menu {
        &_links {
            & > a {
                transform: scale(0.85);
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .page-header {
            .menu-block {
                span {
                    display: none;
                }
            }
            .main-header {
                padding-top: 40px;
                h2 {
                    font-size: 30px;
                    padding: 20px;
                }
                p {
                    font-size: 16px;
                }
                &_buttons {
                    padding-top: 60px;
                    padding-bottom: 100px;
                }
            }
        }
    .main-wrapper {
        .design {
            &_logo {
                width: 120px;
                height: 120px;
            }
            p {
                font-size: 12px;
                width: auto;
            }
        }
        .works {
            &_info {
                display: flex;
                flex-direction: column;
                align-content: middle;
                p {
                    font-size: 8px;
                    line-height: inherit;
                    height: auto;
                }
                h4 {                   
                    padding-bottom: 0;
                    font-size: 12px;
                }
                &_btn {
                    font-size: 8px;
                    padding: 6px 18px;
                    width: 100px;
                    max-width: 95%;
                    margin: auto;
                    border-radius: 4px;
                }
             
            }
        } 
        .subscribe {
            &_email {
                min-width: 235px;
                box-sizing: border-box;
                margin-left: 0;
                margin-right: 0;
            }
        }
        .team {
            &_item {
                padding: 0 7px;
            }
            &_links {
                & > a {
                    margin: 0 -8px;
                }
            }
            p {
                font-size: 12px;
                margin-top: 0;
            }
            h4 {
                font-size: 14px;
                margin-bottom: 0;
                height: 40px;
            }
        }
    }
    .modal-hire {
        .hire-close {
            right: 0.3%;
            top: 0.3%;
        }
    }

}
@media screen and (max-width: 420px) {
    .modal-hire {
        padding: 30px 10px;
    }
}
@media screen and (max-width: 320px) {
    .main-wrapper {
        .team {
            &_item {
                .img-wrap::before {
                    top: 99%;
                }
            }
        }
    }
}