
<section id="main" class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-sm-8 col-xs-9 main_wrap">
        <span class="main_head bounceIn wow" data-wow-delay="0.4s">what we are</span>
        <div class="main_content bounceInLeft wow">
          <h3>welcome to business plus</h3>
          <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has been the scrambled it to make. specimen book.</p>
        </div>
        <button class="bounceInRight wow">read more</button>
      </div>
    </div>
  </div>
</section>