
<footer class="page-footer center-xs" id="contact">
	<div class="footer_head block_head container">
		<h2>say <span class="color-theme">hello</span></h2>
		<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	</div>
	<form action="" class="footer_form">
		<div class="inputs">
			<input type="email" name="footer_email" placeholder="Your Email">
			<input type="text" name="subject" placeholder="Subject">
		</div>	
		<textarea placeholder="Your Message"></textarea>
		<div class="row submit-and-links between-xs">
			<input type="submit" name="footer_submit" value="hire us" class="footer_btn btn">
			<div class="footer_links row">
				<a href="#"><div class="footer_links-fb"></div></a>
				<a href="#"><div class="footer_links-tw"></div></a>
				<a href="#"><div class="footer_links-google"></div></a>
				<a href="#"><div class="footer_links-ball"></div></a>
				<a href="#"><div class="footer_links-be"></div></a>
			</div>
		</div>	
	</form>
    <div class="footer_bottom">
    	<div class="container-fluid between-xs row">
    		<div class="copyright start-xs">© 2015 COPYRIGHT DESIGN STUDIO</div>
			<div class="symu">DESIGNED BY <a href="#" class="color-theme">symu.co</a></div>
    	</div>
    </div>
</footer>