<header class="page-header" id="home">
	<div class="row header-top middle-xs">
		<div class="col-xs-5 col-xs-offset-1">
			<a href="#"><img src="%=static=%img/general/logo.png" alt="Logotype"></a>
		</div>
		<div class="col-xs-5 end-xs menu-block row middle-xs">
			<a href="#modal-menu"><span>Menu</span></a>
			<a href="#modal-menu"><i class="fa fa-bars menu_icon" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="main-header center-xs" >
		<h2>we design <span class="color-theme">things</span></h2>
		<p class="col-md-6 col-sm-8 col-xs-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
		sed do eiusmod tempor incididunt ut labore et dolore magna aliquat</p>
		<div class="main-header_buttons row center-xs">
			<div><a href="#modal-hire"><button class="hire-btn btn">hire us</button></a></div>
			<div id="scroll-1"><a href="#works"><button class="works-btn btn">our works</button></a></div>
		</div>
		<div id="scroll-2"><a href="#comments" class="scroll-down"><img src="%=static=%img/assets/header/circle-arrow.png" alt="scroll down"></a></div>
	</div>
</header>