
<section class="works">
  <div class="container text-center">
    <h2 class="section-head">Our Latest Works</h2>
  
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="works-slider-nav carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active">All</li>
        <li data-target="#carousel-example-generic" data-slide-to="1">Design</li>
        <li data-target="#carousel-example-generic" data-slide-to="2">Manipulation</li>
        <li data-target="#carousel-example-generic" data-slide-to="3">Photography</li>
        <li data-target="#carousel-example-generic" data-slide-to="4">Development</li>
      </ul>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="works-content">
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="works-content">
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="works-content">
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="works-content">
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="works-content">
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
            <div class="row">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
              <img src="%=static=%/img/assets/works/works-item.jpg" alt="Work photo">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button>See More</button>
  </div>   
</section>
