<section id="clients" class="clients">
  <div class="container">
    <div class="row clients_head bounceInUp wow">
      <h2>clients</h2>
      <span class="head_desc">Whats our client says</span>
    </div>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="carousel_wrap">
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
  </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner bounceInUp wow" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_1">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Krishnan Unni</h4>
              <span>Designation</span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Mariya Jeorge</h4>
              <span>Designation</span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_3">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Akhil Designer</h4>
              <span>Designation</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_1">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Krishnan Unni</h4>
              <span>Designation</span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Mariya Jeorge</h4>
              <span>Designation</span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_3">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Akhil Designer</h4>
              <span>Designation</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_1">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Krishnan Unni</h4>
              <span>Designation</span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Mariya Jeorge</h4>
              <span>Designation</span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 client client_3">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <div class="client_info">
              <div class="client_photo"></div>
              <h4>Akhil Designer</h4>
              <span>Designation</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>