<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-7 bounceInLeft wow">
        <h3>Perfect solution for your business</h3>
        <p class="head_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>
      <div class="col-md-2 col-md-offset-4 col-sm-3 col-sm-offset-2 text-nowrap">
        <button class="bounceInRight wow">contact now</button>
      </div>
    </div>
  </div>
</section>