
<section class="about">
  <div class="container text-center">
    <h2 class="section-head">
      Welcome To <span class="foinni-theme">Foinni</span>
    </h2>
    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
    <div class="about-content">
      <div class="col-sm-4 col-xs-6 about-item">
        <div class="about-item_wrap">
          <div class="development-icon about-item_icon"></div>
          <h3><a href="#">Development</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6 about-item">
        <div class="about-item_wrap">
          <div class="responsive-icon about-item_icon"></div>
          <h3><a href="#">Responsive</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6 about-item">
        <div class="about-item_wrap">
          <div class="clean-design-icon about-item_icon"></div>
          <h3><a href="#">Clean Design</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia</p>
        </div>  
      </div>
      <div class="col-sm-4 col-xs-6 about-item">
        <div class="about-item_wrap">
          <div class="graphic-icon about-item_icon"></div>
          <h3><a href="#">Graphic Design</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia</p>
        </div>  
      </div>
      <div class="col-sm-4 col-xs-6 about-item">
        <div class="about-item_wrap">
          <div class="photo-icon about-item_icon"></div>
          <h3><a href="#">Photography</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia</p>
        </div>  
      </div>
      <div class="col-sm-4 col-xs-6 about-item">
        <div class="about-item_wrap">
          <div class="photo-editing-icon about-item_icon"></div>
          <h3><a href="#">Photo Editing</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia</p>
        </div>  
      </div>
    </div>
  </div>
</section>