
<section id="team" class="team">
  <div class="container text-center">
    <h2 class="text-center wow bounceIn">team</h2>
    <span class="head_desc text-center wow bounceIn">Our Great Staff<span>
    <div class="row">
      <div class="col-xs-6 col-sm-3 team_item wow bounceInLeft" data-wow-delay="0.4s">
        <img src="%=static=%img/assets/team/team_1.jpg" alt="">
        <div class="team_info">
          <div class="team_name">
            <h5>name here</h5>
            <p>Designation Here</p>   
          </div>
          <div class="team_links social_links">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 team_item wow bounceInLeft">
        <img src="%=static=%img/assets/team/team_2.jpg" alt="">
        <div class="team_info">
          <div class="team_name text-center">
            <h5>name here</h5>
            <p>Designation Here</p>   
          </div>
          <div class="team_links social_links">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 team_item wow bounceInRight">
        <img src="%=static=%img/assets/team/team_3.jpg" alt="">
        <div class="team_info">
          <div class="team_name">
            <h5>name here</h5>
            <p>Designation Here</p>   
          </div>
          <div class="team_links social_links">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 team_item team_4 wow bounceInRight" data-wow-delay="0.4s">
        <img src="%=static=%img/assets/team/team_4.jpg" alt="">
        <div class="team_info">
          <div class="team_name">
            <h5>name here</h5>
            <p>Designation Here</p>   
          </div>
          <div class="team_links social_links">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>