
/*    Segoe UI    */

@font-face {
	font-family: 'Segoe UI';
	src: url('../../fonts/Segoe UI/SegoeUI-Light.woff2') format('woff2'),
		url('../../fonts/Segoe UI/SegoeUI-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../../fonts/Segoe UI/SegoeUI.woff2') format('woff2'),
		url('../../fonts/Segoe UI/SegoeUI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../../fonts/Segoe UI/SegoeUI-Bold.woff2') format('woff2'),
		url('../../fonts/Segoe UI/SegoeUI-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


/*    Univers LT    */

@font-face {
	font-family: 'Univers';
	src: url('../../fonts/Univers LT/Univers-CondensedLight.woff2') format('woff2'),
		url('../../fonts/Univers LT/Univers-CondensedLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


/*    Alte Haas Grotesk    */

@font-face {
	font-family: 'Alte Haas Grotesk';
	src: url('../../fonts/Alte Haas Grotesk Bold/AlteHaasGrotesk_Bold.woff2') format('woff2'),
		url('../../fonts/Alte Haas Grotesk Bold/AlteHaasGrotesk_Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

