<section class="meet">
  <div class="container text-center">
    <h2 class="section-head">Meet Us</h2>
    <div class="meet-content">
      <div class="col-xs-6 col-sm-3 meet-item">
        <div class="meet-item_wrap">
          <img src="%=static=%/img/assets/meet-us/photo-image.jpg" alt="  photo">
          <div class="meet-item_info">
            <div class="meet-item_desc">
              <h4>Abida Foinni</h4>
              <p>Photographer</p>
            </div>  
            <div class="meet-item_links">
              <a class="be-link" href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <a class="fb-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="tw-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>                                 
      <div class="col-xs-6 col-sm-3 meet-item">
        <div class="meet-item_wrap">
          <img src="%=static=%/img/assets/meet-us/photo-image.jpg" alt="photo">
          <div class="meet-item_info">
            <div class="meet-item_desc">
              <h4>Liker Shohel</h4>
              <p>Photographer</p>
            </div>  
            <div class="meet-item_links">
              <a class="be-link" href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <a class="fb-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="tw-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>  
      <div class="col-xs-6 col-sm-3 meet-item">
        <div class="meet-item_wrap">
          <img src="%=static=%/img/assets/meet-us/photo-image.jpg" alt="photo">
          <div class="meet-item_info">
            <div class="meet-item_desc">
              <h4>Mahmud Koli</h4>
              <p>Graphic Designer</p>
            </div>  
            <div class="meet-item_links">
              <a class="be-link" href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <a class="fb-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="tw-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 meet-item">
        <div class="meet-item_wrap">
          <img src="%=static=%/img/assets/meet-us/photo-image.jpg" alt="photo">
          <div class="meet-item_info">
            <div class="meet-item_desc">
              <h4>Jolil Shaheb</h4>
              <p>Web Developer</p>
            </div>
            <div class="meet-item_links">
              <a class="be-link" href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <a class="fb-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="tw-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</section>
