
.features {
    text-align: center;
    box-shadow: 0 2px 9px -5px #000000;
}
.features_title {
    padding-top: 65px;
    color: #404040;
    font-size: 35px;
}
.features_description {
    text-align: center;
    color: #636363;
    font-size: 17px;
    max-width: 680px;
    margin: -30px auto 85px;
    padding: 0 5px;
}
.features_features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}
.features-list_description-hover {
    display: none;
    position: absolute;
    width: 127px;
    top: 55px;
    left: 25px;
    font-size: 12px;
}
.features-list_img {
    height: 88px;
}
.features-list_item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px 3%;
    width: 179px;
    height: 179px;
    border-radius: 50%;
    color: #ffffff;
}
.features-list_item:hover .features-list-content {
    opacity: 0.26;
    transition-duration: 0.1s;
}
.features-list_item:hover .features-list_description-hover {
    display: block;
}
.beer .features-list_img{
    margin-left: 11px;
}
.features-list-content {
    width: 100px;
    margin: auto;
}
.tickets {
    background-color: #4eb9f4;
}
.camera  {
    background-color: #6fc125;
}
.beer {
    background-color: #ff5649;
}
.devices {
    background-color: #e48f23;
}

