body {
    padding: 0;
    margin: 0;
    font-family: 'Univers', sans-serif;
}

.menu {
    list-style: none;
    padding: 0;
}
.menu a {
    text-decoration: none;
}

.main {
    background: #ffffff;
    z-index: 1;
    max-width: 1800px;
    margin: -250px auto 0;
}

