<section id="projects" class="projects">
  <div class="container projects_wrap">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 bounceInRight wow">
        <h2>projects</h2>
        <span class="head_desc">Featured Works</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
        Lorem Ipsum has been the industry's standard dummy text ever since the.</p>
        <button>view more</button>
        <div class="project_image project_1"><a href="#"><img src="%=static=%img/assets/projects/project_1.png" alt=""></a></div>
        <div class="project_image project_2"><a href="#"><img src="%=static=%img/assets/projects/project_2.png" alt=""></a></div>
        <div class="project_image project_3"><a href="#"><img src="%=static=%img/assets/projects/project_3.png" alt=""></a></div>
        <div class="project_image project_4"><a href="#"><img src="%=static=%img/assets/projects/project_4.png" alt=""></a></div>
        <div class="project_image project_5"><a href="#"><img src="%=static=%img/assets/projects/project_5.png" alt=""></a></div>
      </div>
    </div>
  </div>
</section>