.header-top {
    display: flex;
    justify-content: space-between;
    margin: 37px 7% 22px;
}
.header_logo {
    margin-right: 50px;
}
.menu {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.menu li {
    margin-right: 30px;
}
.menu a {
    display: block;
    padding: 28px 10px;
    color: #000000;
    font-family: 'Code';
    font-weight: 600;
}
.header_menu li:hover {
    background-color: #ffea00;
}
.header_img {
    background: url("../img/slider-bg.png") no-repeat 0% 50%;
    height: 150px;
    
}
.header_img-btn {
    display: inline-block;
    margin-top: 30px;
    margin-left: 8%;
    width: 280px;
    min-width: 220px;
    height: 40px;
    color: #ffea00;
    background-color: #424146;
    font-size: 35px;
    padding: 22px;
}
.menu-btn_close {
    background-position: 0 50%;

}
.menu-btn_active {
    background-position: 125% 50%;

}