body {
    font-size: 80%;
}
.menu {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    height: 0;
    overflow: hidden;
    margin: 0;
    margin-top: 73px;
    transition-duration: 0.2s;
    transition-property: height;
    background-color: rgba(158, 158, 158, 0.9);
}
.menu a {
    padding: 15px;
}
.menu li {
    margin: 5px 15px;
}
.menu a:hover {
    background-color: #414146;
    color: #ffea00;
}
.menu_active {
    height: 260px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.menu-btn {
    position: absolute;
    width: 32px;
    height: 30px;
    background-image: url("../img/OpenClose.png");
    background-repeat: no-repeat;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.header_img-btn {
    margin-left: 10px;
    width: 200px;
    min-width: 120px;
    height: 40px;
    font-size: 34px;
    padding: 15px;
}

.header-top {
    margin: 0;
    margin-top: -70px;
    width: 100%;
    background: rgba(158, 158, 158, 0.9);
    border-bottom: 1px solid #000000;
    position: fixed;
    z-index: 20;
    height: 73px;
}

.header_logo {
    width: 70px;
}
.header_logo img {
    width: 100%;
}
.header_img {
    margin-top: 70px;
}
.slider_btn {
    top: 31%;
    opacity: 0.7;
}
.slider-container_slides li {
    margin: 3px 1.1px;
}
.slider_resize-btn {
    right: 3px;
    top: 3px;
}

.tags_list li{
    width: 42%;
    margin: 4px 2px;
}
.wrapper {
    margin-top: 130px;
   
}

.details_name {
    left: 310px;
    top: -120px;
}
.posts_name {
    width: 123px;
    top: -80px;
    left: 310px;
}
.tags_name {
    top: -40px;
    left: 310px;
}
.active-bg::before {
    outline: 1px solid yellow;
}
.slider-container_slider {
    height: 200px;
}


.sidebar-item_content {
    top: -13px;
    width: 88.3%;
    padding: 20px 38px 0px 5px;
}
.tags_list {
    padding-bottom: 15px;
}
.sidebar-item_content a {
    font-size: 87%;
}
.project_btn {
    width: 215px;
}

.remodal-close {
    left: 91%;
