/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
		url('../fonts/opensans/OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Italic.woff2') format('woff2'),
		url('../fonts/opensans/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/opensans/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Extrabold.woff2') format('woff2'),
		url('../fonts/opensans/OpenSans-Extrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Semibold.woff2') format('woff2'),
		url('../fonts/opensans/OpenSans-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans.woff2') format('woff2'),
		url('../fonts/opensans/OpenSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}