@font-face {
  font-family: 'Comic Sans MS';
  src: url("../fonts/ComicSansMS.woff2") format("woff2"), url("../fonts/ComicSansMS.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  min-height: 100%; }

html {
  font-size: 24px; }
  @media screen and (max-width: 992px) {
    html {
      font-size: 20px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

body {
  margin: 0;
  font-family: "Comic Sans MS";
  color: #3c3838; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h5, p {
  margin: 0; }

div, section, ul, li, a, footer, main, header {
  box-sizing: border-box; }

a {
  text-decoration: none;
  display: block; }

.wrapper {
  width: 90%;
  max-width: 2000px;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 100%;
      padding-left: 7px;
      padding-right: 7px; } }

.mainpage {
  background: url("../img/bg.png") no-repeat 50% 50%;
  background-size: cover; }

.image {
  width: 100%;
  float: left; }

.description {
  font-size: 1.25rem;
  max-width: 605px;
  margin: auto;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 120px; }
  @media screen and (max-width: 992px) {
    .description {
      margin-bottom: 90px;
      max-width: 550px; } }
  @media screen and (max-width: 768px) {
    .description {
      max-width: 450px;
      margin-bottom: 60px;
      margin-top: 40px; } }

.header_top {
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.header_logo {
  max-width: 247px;
  margin-right: 15px; }
  @media screen and (max-width: 992px) {
    .header_logo {
      max-width: 200px; } }
  @media screen and (max-width: 768px) {
    .header_logo {
      max-width: 160px; } }

.header_content {
  padding-top: 32px; }
  @media screen and (max-width: 768px) {
    .header_content {
      padding-top: 18px; } }

.header_head {
  font-size: 1.333rem; }

.header_caption {
  font-size: 0.75rem;
  text-align: right;
  padding-right: 32px; }
  @media screen and (max-width: 768px) {
    .header_caption {
      text-align: left; } }

.menu {
  background-color: #3c3838;
  padding-top: 10px;
  padding-bottom: 10px; }
  .menu_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 60px; }
  .menu_item {
    margin: 0 33px; }
    @media screen and (max-width: 768px) {
      .menu_item {
        margin: 0 15px; } }
    @media screen and (max-width: 480px) {
      .menu_item {
        width: 100%;
        text-align: center; } }
    .menu_item a {
      color: #fff;
      font-size: 1rem;
      transition-duration: 0.15s; }
      .menu_item a:hover {
        color: #b4b4b4; }
        @media screen and (max-width: 480px) {
          .menu_item a:hover {
            background-color: #464242; } }
    .menu_item--active a {
      color: #b4b4b4; }
      @media screen and (max-width: 480px) {
        .menu_item--active a {
          background-color: #464242; } }

.gallery_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7px;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.35); }

.gallery_item {
  width: 30%;
  padding-bottom: 5%; }
  @media screen and (max-width: 480px) {
    .gallery_item {
      width: 47%; } }
  .gallery_item:nth-last-child(-n+3) {
    padding-bottom: 0px; }

.articles_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 760px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 80px; }

.articles_item {
  padding-right: 60px;
  margin-bottom: 50px;
  width: 50%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .articles_item {
      width: 100%; } }
  .articles_item:nth-child(odd) {
    padding-right: 120px; }
    @media screen and (max-width: 768px) {
      .articles_item:nth-child(odd) {
        padding-right: 60px; } }
  .articles_item a {
    white-space: nowrap;
    color: #3c3838;
    font-size: 1.25rem;
    display: inline-block;
    position: relative;
    transition-duration: 0.15s; }
    .articles_item a:hover {
      color: #5a5656; }
      .articles_item a:hover::before {
        transform: translateY(-50%) scale(0.98);
        right: -55px; }
    .articles_item a::before {
      position: absolute;
      content: "";
      top: 50%;
      transition-duration: 0.15s;
      transform: translateY(-50%);
      right: -60px;
      width: 50px;
      height: 29px;
      background: url("../img/arrow.png") no-repeat 50% 50%;
      background-size: cover; }

.footer {
  color: #fff;
  background-color: #3c3838;
  font-size: 1.25rem;
  padding-top: 30px;
  padding-bottom: 20px; }
  .footer_head {
    font-weight: normal; }
    @media screen and (max-width: 480px) {
      .footer_head {
        text-align: center;
        margin-bottom: 10px; } }
  .footer_copyright {
    padding-top: 10px;
    text-align: right; }
    @media screen and (max-width: 768px) {
      .footer_copyright {
        padding-top: 25px; } }
    @media screen and (max-width: 480px) {
      .footer_copyright {
        text-align: center; } }

.social-links {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .social-links {
      flex-direction: column;
      text-align: center; } }
  .social-links_item {
    margin-right: 35px; }
    @media screen and (max-width: 480px) {
      .social-links_item {
        margin-right: 0; } }
    .social-links_item a {
      font-size: 1.25rem;
      line-height: 30px;
      color: #fff;
      transition-duration: 0.25s; }
      .social-links_item a:hover {
        color: #b4b4b4; }
