
<main class="main-wrapper">
	<div class="container design" id="services">
		<div class="row design_wrap center-xs">
			<div class="col-sm-3 col-xs-6 design_item">
				<div class="design_logo">
					<div class="design_logo-1"></div>
				</div>
				<h4><a href=#>print design</a></h4>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
			</div>
			<div class="col-sm-3 col-xs-6 design_item">
				<div class="design_logo">
					<div class="design_logo-2"></div>
				</div>
				<h4><a href=#>web design</a></h4>
				<p>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			</div>
			<div class="col-sm-3 col-xs-6 design_item">
				<div class="design_logo">
					<div class="design_logo-3"></div>
				</div>
				<h4><a href=#>app design</a></h4>
				<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
			</div>
			<div class="col-sm-3 col-xs-6 design_item">
				<div class="design_logo">
					<div class="design_logo-4"></div>
				</div>
				<h4><a href=#>logo design</a></h4>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
			</div>
		</div>
	</div>

	<div class="subscribe row center-xs">
		<form action="" class="subscribe_form container">
			<input type="email" name="email" placeholder="Enter Your email adress for newsletter" class="subscribe_email">
			<input type="submit" name="submit" value="subscribe" class="subscribe_btn btn">
		</form>
	</div>

	<div class="works container center-xs" id="works">
		<div class="works_head block_head container-fluid">
			<h2>our <span class="color-theme">works</span></h2>
			<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
		</div>
		<div class="works_content row center-xs">
			<div class="col-sm-4 col-xs-5 works_item">
				<img src="%=static=%img/content/works-1.jpg" alt="">
				<div class="works_info">
					<h4>abazoo website</h4>
					<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					<button class="works_info_btn btn">show project</button>
				</div>
			</div>
			<div class="col-sm-4 col-xs-5 works_item">
				<img src="%=static=%img/content/works-2.jpg" alt="">
				<div class="works_info">
					<h4>abazoo website</h4>
					<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					<button class="works_info_btn btn">show project</button>
				</div>
			</div>
			<div class="col-sm-4 col-xs-5 works_item">
				<img src="%=static=%img/content/works-3.jpg" alt="">
				<div class="works_info">
					<h4>abazoo website</h4>
					<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					<button class="works_info_btn btn">show project</button>
				</div>
			</div>
			<div class="col-sm-4 col-xs-5 works_item">
				<img src="%=static=%img/content/works-4.jpg" alt="">
				<div class="works_info">
					<h4>abazoo website</h4>
					<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					<button class="works_info_btn btn">show project</button>
				</div>
			</div>
			<div class="col-sm-4 col-xs-5 works_item">
				<img src="%=static=%img/content/works-5.jpg" alt="">
				<div class="works_info">
					<h4>abazoo website</h4>
					<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					<button class="works_info_btn btn">show project</button>
				</div>
			</div>
			<div class="col-sm-4 col-xs-5 works_item">
				<img src="%=static=%img/content/works-6.jpg" alt="">
				<div class="works_info">
					<h4>abazoo website</h4>
					<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					<button class="works_info_btn btn">show project</button>
				</div>
			</div>
		</div>
		<button class="works_btn btn">show more</button>
	</div>

	<div class="comments center-xs" id="comments">
		<div class="comments_wrapper container">
			<div class="comments_item">
				<div class="comments_avatar">
					<img src="%=static=%img/content/avatar-1.jpg" alt="">
				</div>
				<p>These guys are incredible! I get my project in 10 days and it 	was awesome!
            	Very good service! Highly recommended!</p>
				<div class="comments_name">John Smith</div>
			</div>

			<div class="comments_item">
				<div class="comments_avatar">
					<img src="%=static=%img/content/avatar-1.jpg" alt="">
				</div>
				<p>These guys are incredible! I get my project in 10 days and it 	was awesome!
            	Very good service! Highly recommended!</p>
				<div class="comments_name">John Smith</div>
			</div>

			<div class="comments_item">
				<div class="comments_avatar">
					<img src="%=static=%img/content/avatar-1.jpg" alt="">
				</div>
				<p>These guys are incredible! I get my project in 10 days and it 	was awesome!
            	Very good service! Highly recommended!</p>
				<div class="comments_name">John Smith</div>
			</div>
		</div>
	</div>

	<div class="team container center-xs" id="team">
		<div class="works_head block_head">
			<h2>our <span class="color-theme">team</span></h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem</p>
		</div>	
		<div class="team_wrapper">
		    <div class="team_slide row center-xs">
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-1.jpg" alt=""><a></div>
					<h4><a href=#>Catherina Gail</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation 	ullamcolaboris </p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-2.jpg" alt=""></a></div>
					<h4><a href=#>Harvey Rube</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Nemo enim ipsam voluptatem quia voluptas sit 	aspernaturaut</p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-3.jpg" alt=""></a></div>
					<h4><a href=#>Janet Pris</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Commodo consequat. Duis aute irure dolor in 	reprehenderit involuptate</p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-4.jpg" alt=""></a></div>
					<h4><a href=#>Kevin Ward</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
				</div>
			</div>

			<div class="team_slide row center-xs">
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-1.jpg" alt=""><a></div>
					<h4><a href=#>Catherina Gail</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation 	ullamcolaboris </p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-2.jpg" alt=""></a></div>
					<h4><a href=#>Harvey Rube</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Nemo enim ipsam voluptatem quia voluptas sit 	aspernaturaut</p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-3.jpg" alt=""></a></div>
					<h4><a href=#>Janet Pris</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Commodo consequat. Duis aute irure dolor in 	reprehenderit involuptate</p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-4.jpg" alt=""></a></div>
					<h4><a href=#>Kevin Ward</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
				</div>
			</div>

			<div class="team_slide row center-xs">
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-1.jpg" alt=""><a></div>
					<h4><a href=#>Catherina Gail</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation 	ullamcolaboris </p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-2.jpg" alt=""></a></div>
					<h4><a href=#>Harvey Rube</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Nemo enim ipsam voluptatem quia voluptas sit 	aspernaturaut</p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-3.jpg" alt=""></a></div>
					<h4><a href=#>Janet Pris</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Commodo consequat. Duis aute irure dolor in 	reprehenderit involuptate</p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-4.jpg" alt=""></a></div>
					<h4><a href=#>Kevin Ward</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
				</div>
			</div>

			<div class="team_slide row center-xs">
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-1.jpg" alt=""><a></div>
					<h4><a href=#>Catherina Gail</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation 	ullamcolaboris </p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-2.jpg" alt=""></a></div>
					<h4><a href=#>Harvey Rube</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Nemo enim ipsam voluptatem quia voluptas sit 	aspernaturaut</p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-3.jpg" alt=""></a></div>
					<h4><a href=#>Janet Pris</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Commodo consequat. Duis aute irure dolor in 	reprehenderit involuptate</p>
				</div>
				<div class="team_item col-sm-3 col-xs-5">
					<div class="img-wrap"><a href=#><img src="%=static=%img/content/team-4.jpg" alt=""></a></div>
					<h4><a href=#>Kevin Ward</a></h4>
					<div class="team_links row center-xs">
						<a href="#"><div class="team_links_fb-link"></div></a>
						<a href="#"><div class="team_links_tw-link"></div></a>
						<a href="#"><div class="team_links_google-link"></div></a>
					</div>
					<p>Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
				</div>
			</div>
		</div>
	</div>


</main>
