<footer>
  <div class="page-footer row">
    <div class="col-md-4 col-sm-4 page-footer_left">
      <a href="#"><img class="col-md-offset-3" src="%=static=%img/assets/footer/logo_footer.png" alt="Logotype"></a>
    </div>
    <div class="col-sm-8 page-footer_right text-right">
      <nav class="footer_menu menu">
        <ul class="list-inline">
          <a href="#">
            <li>home</li>
          </a>
          <a href="#">
            <li>about us</li>
          </a>
          <a href="#">
            <li>services</li>
          </a>
          <a href="#"> 
            <li>news</li>
          </a>
          <a href="#">
            <li>blog</li>
          </a>
          <a href="#">
            <li>pages</li>
          </a>
          <a href="#">
            <li>contact us</li>
          </a>
        </ul>
      </nav>
      <div class="footer_info">
        <p class="copyright">© 2015 lawyer. All rights reserved.</p>
        <div class="footer_links social_links">
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>  
</footer>