html, body {
	min-height: 100%;
}
html {
	font-size: 24px;
	@media screen and (max-width: 992px) {
		font-size: 20px;
	}
	@media screen and (max-width: 768px) {
		font-size: 18px;
	}
	@media screen and (max-width: 480px) {
		font-size: 16px;
	}
}
body {
	margin: 0;
	font-family: $font;
	color: $color-dark;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h5, p {
	margin: 0;
}
div, section, ul, li, a, footer, main, header {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	display: block;
}
.wrapper {
	width: 90%;
	max-width: 2000px;
	margin: auto;
	@media screen and (max-width: 768px) {
		width: 100%;
		padding-left: 7px;
		padding-right: 7px;
	}
}
.mainpage {
	background: url('../img/bg.png') no-repeat 50% 50%;
	background-size: cover;
}
.image {
	width: 100%;
	float: left;
}
.main {

}
.description {
	font-size: 1.25rem;
	max-width: 605px;
	margin: auto;
	text-align: center;
	margin-top: 65px;
	margin-bottom: 120px;
	@media screen and (max-width: 992px) {
		margin-bottom: 90px;
		max-width: 550px;
	}
	@media screen and (max-width: 768px) {
		max-width: 450px;
		margin-bottom: 60px;
		margin-top: 40px;
	}
}
.header {

	&_top {
		padding-top: 25px;
		padding-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&_logo {
		max-width: 247px;
		margin-right: 15px;
		@media screen and (max-width: 992px) {
			max-width: 200px;
		}
		@media screen and (max-width: 768px) {
			max-width: 160px;
		}
	}
	&_content {
		padding-top: 32px;
		@media screen and (max-width: 768px) {
			padding-top: 18px;
		}
	}
	&_head {
		font-size: 1.333rem;
	}
	&_caption {
		font-size: 0.75rem;
		text-align: right;
		padding-right: 32px;
		@media screen and (max-width: 768px) {
			text-align: left;
		}
	}
	&_nav {

	}
}

.menu {
	background-color: $color-dark;
	padding-top: 10px;
	padding-bottom: 10px;
	&_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		min-height: 60px;
		
	}
	&_item {
		margin: 0 33px;
		@media screen and (max-width: 768px) {
			margin: 0 15px;
		}
		@media screen and (max-width: 480px) {
			width: 100%;
			text-align: center;
		}
		a {
			color: #fff;
			font-size: 1rem;
			transition-duration: 0.15s;
			&:hover {
				color: #fff - 75;
				@media screen and (max-width: 480px) {
					background-color: $color-dark + 10;
				}
			}
		}
		&--active {
			a {
				color: #fff - 75;
				@media screen and (max-width: 480px) {
					background-color: $color-dark + 10;
				}
			}
		}
	}
}
.gallery {

	&_wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 7px;
		box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.35);
	}
	&_item {
		width: 30%;
		padding-bottom: 5%;
		@media screen and (max-width: 480px) {
			width: 47%;
		}
		&:nth-last-child(-n+3) {
			padding-bottom: 0px;
		}

	}
}
.articles {
	
	&_list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 760px;
		margin: auto;
		padding-bottom: 30px;
		padding-top: 80px;
	}
	&_item {
		padding-right: 60px;
		margin-bottom: 50px;
		width: 50%;
		text-align: center;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
		&:nth-child(odd) {
			padding-right: 120px;
			@media screen and (max-width: 768px) {
				padding-right: 60px;
			}
		}
		a {
			white-space: nowrap;
			color: $color-dark;
			font-size: 1.25rem;
			display: inline-block;
			position: relative;
			transition-duration: 0.15s;
			&:hover {
				color: $color-dark + 30;
				&::before {
					transform: translateY(-50%) scale(0.98);
					right: -55px;
				}
			}
			&::before {
				position: absolute;
				content: "";
				top: 50%;
				transition-duration: 0.15s;
				transform: translateY(-50%);
				right: -60px;
				width: 50px;
				height: 29px;
				background: url('../img/arrow.png') no-repeat 50% 50%;
				background-size: cover;
			}
		}
		
	}
}
.footer {
	color: #fff;
	background-color: $color-dark;
	font-size: 1.25rem;
	padding-top: 30px;
	padding-bottom: 20px;
	&_links {
		
	}
	&_head {
		font-weight: normal;
		@media screen and (max-width: 480px) {
			text-align: center;
			margin-bottom: 10px;
		}
	}
	&_copyright {
		padding-top: 10px;
		text-align: right;
		@media screen and (max-width: 768px) {
			padding-top: 25px;
		}
		@media screen and (max-width: 480px) {
			text-align: center;
		}
	}
}
.social-links {
	display: flex;
	flex-wrap: wrap;
	@media screen and (max-width: 480px) {
		flex-direction: column;
		text-align: center;
	}
	&_item {
		margin-right: 35px;
		@media screen and (max-width: 480px) {
			margin-right: 0;
		}
		a {
			font-size: 1.25rem;
			line-height: 30px;
			color: #fff;
			transition-duration: 0.25s;
			&:hover {
				color: #fff - 75;
			}
		}
	}
}