<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand"><img src="%=static=%/img/assets/nav/logo.png" alt="Logotype"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav text-center navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
  </div>
</div>