

.modal-menu {
	margin-bottom: 100px;
	background-color: transparent;
	padding: 50px 0 100px;
	max-width: 80%;
}
.menu-close {
	left: 80%;
	top: 15px;
}
.menu {
	&_wrap {
		margin-top: -75px;
	}
	&_nav {
		padding: 0;
		margin-top: 120px;
		list-style: none;
		text-transform: uppercase;
		&_item {
			margin-bottom: 15px;
		}
		a {
			color: #fff;
			font-weight: 600;
			font-size: 20px;

			&:hover {
				color: #fe5e23;
			}
		}
	}
	&_links {
		& > a {
			margin: 45px 5px 0;
			display: block;
			&:hover {
				opacity: 0.9;
			}
		}
		&-fb {
			@include bg($fb-icon);
		}

		&-tw {
			@include bg($tw-icon);	
		}
			
		&-google {
			@include bg($google-icon);
		}
		&-ball {
			@include bg($ball-icon);	
		}
			
		&-be {
			@include bg($be-icon);
		}
	}
}
.modal-hire {
	h2 {
		margin: 0;
		font-size: 32px;
	}
	p {
		padding: 0 30px;
	}
	padding: 30px 50px;
	input,
	textarea {
		box-sizing: border-box;
		width: 100%;
		padding: 10px 12px;
		border-radius: 7px;
		border: 1px solid #c4c6c9;
		resize: none;
		margin-bottom: 20px;
	}
	textarea {
		resize: none;
		height: 120px;
	}
	&_submit {
		background-color: #fe5e23;
		border-color: transparent;
		&:hover {
			background-color: rgba(0, 0, 0, 0.7);
			border-color: #656a6f;
		}
	}
	.hire-close {
		
		right: -2%;
		top: -2%;
		background-color: #626970 - 20;
		border-radius: 50%;
		color: #ffffff;
		&:hover {
            color: #fe5e23;
		}
	}

}