
<div class="remodal modal-menu" data-remodal-id="modal-menu">
  <button data-remodal-action="close" class="remodal-close menu-close"></button>
  <div class="menu_wrap">
  	<ul class="menu_nav" id="scroll-nav">
  		<li class="menu_nav_item"><a href="#home" data-remodal-action="cancel">home</a></li>
  		<li class="menu_nav_item"><a href="#team" data-remodal-action="cancel">about us</a></li>
  		<li class="menu_nav_item"><a href="#services" data-remodal-action="cancel">services</a></li>
  		<li class="menu_nav_item"><a href="#works" data-remodal-action="cancel">our works</a></li>
  		<li class="menu_nav_item"><a href="#contact" data-remodal-action="cancel">contact</a></li>
  	</ul>
  	<div class="menu_links row center-xs">
  		<a href="#"><div class="menu_links-fb"></div></a>
  		<a href="#"><div class="menu_links-tw"></div></a>
  		<a href="#"><div class="menu_links-google"></div></a>
  		<a href="#"><div class="menu_links-ball"></div></a>
  		<a href="#"><div class="menu_links-be"></div></a>
  	</div>
  </div>
  
</div>



<div class="remodal modal-hire" data-remodal-id="modal-hire">
    <button data-remodal-action="close" class="remodal-close hire-close"></button>
	<h2>hire <span class="color-theme">us</h2>	
  	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  	<form action="" class="modal-hire_form">
		<input type="email" name="modal-hire_email" placeholder="Your Email">
		<input type="text" name="subject" placeholder="Subject">
		<textarea placeholder="Your Message"></textarea>
		<input type="submit" name="modal-hire_submit" value="send message" class="modal-hire_submit btn">	
	</form>
</div>
