<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="text-right services_content col-xs-6 bounceInLeft wow">
        <h2>services</h2>
        <span class="head_desc">What are we doing</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
          Lorem Ipsum has been the industry's standard dummy text evesince the when an unknown printer took a galley of type and scrambled ito make a .type specimen book</p>
        <button>view more</button>
      </div>
      <div class="col-xs-6 services_images bounceInRight wow">
        <div class="row">
          <div class="col-xs-6 services_item"><a href="#"><img src="%=static=%img/assets/services/services_1.png" alt=""></a></div>
          <div class="col-xs-6 services_item"><a href="#"><img src="%=static=%img/assets/services/services_2.png" alt=""></a></div>
        </div>
        <div class="row">
          <div class="col-xs-6 services_item"><a href="#"><img src="%=static=%img/assets/services/services_3.png" alt=""></a></div>
          <div class="col-xs-6 services_item"><a href="#"><img src="%=static=%img/assets/services/services_4.png" alt=""></a></div>
        </div>
      </div>
    </div>
  </div>
</section>