
<section id="news" class="news">
  <div class="container">
    <h2>news</h2>
    <span class="head_desc">From Our Blog</span>
    <div class="row news_wrap">
      <div class="col-xs-6 news_wrap_item wow bounceIn">
        <div class="info col-xs-3 text-right">
          <div class="date">
            <span>30</span>
            <p>Oct-2015</p>
          </div>
          <div class="com">
            <span class="icon-bubbles"></span>
            <p>8- Com</p>
          </div>
          <div class="view">
            <span class="icon-eye"></span>
            <p>16- View</p>
          </div>
        </div>
        <div class="news_content col-xs-9">
          <img src="%=static=%img/assets/news/news_1.jpg">
          <h3><a href="#">blog heading</a></h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        </div>
      </div>
      <div class="col-xs-6 news_wrap_item wow bounceIn" data-wow-delay="0.3s">
        <div class="info col-xs-3 text-right">
          <div class="date">
            <span>30</span>
            <p>Oct-2015</p>
          </div>
          <div class="com">
            <span class="icon-bubbles"></span>
            <p>8- Com</p>
          </div>
          <div class="view">
            <span class="icon-eye"></span>
            <p>16- View</p>
          </div>
        </div>
        <div class="news_content col-xs-9">
          <img src="%=static=%img/assets/news/news_2.jpg">
          <h3><a href="#">blog heading</a></h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        </div>
      </div>
    </div>
    <button>view more</button>
  </div>
</section>